.red{
  color: red;
}
nav.navbar {
  background-color : #202020;
  border-bottom: 1px solid #d5d5d5 ;
}
.pr-name{
  float: left;
  display: block;
  text-align: center;
  padding: 9px 8px;
  text-decoration: none;
  font-size: 24px;
  width: 100px;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  background-color: #bde0ff;
  color: #909090;
}
.pr-name:hover{
  background-color: #202020;
}
.name-tab{
  padding : 1px 10px;
  border-color: #585858;
  display : block;
}
.name-tab:hover {
  background-color: #bde0ff;
  color: #566787;
}
.myButton {
  color: white;
  background-color: #bde0ff;
  border-radius:60px;
  border:1px solid #566787;
  display:inline-block;
  cursor:pointer;
  font-family:Arial;
  font-size:17px;
  text-decoration:none;
}
.myButton:hover {
  background-color:#bde0ff;
}
.myButton:active {
  position:relative;
  top:1px;
}
.vert-sep{
  margin-top: 10px;
  height : 30px;
  border-left:1px solid gray;
}
.watermark {
  position:fixed;
  bottom:5px;
  right:5px;
  opacity:0.5;
  z-index:99;
  color: #f2f2f2;
}