body{
    color: #002c53;
    background: #737373;
    font-family: 'Roboto', sans-serif;
}
h1{
    text-align: center;
    margin-bottom: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container{
    background: #c1c1c1;
    padding: 10px;
    margin-left :auto;
    margin-right :auto;
    width : 1000px;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.minicontainer{
    background: #c1c1c1;
    padding: 10px;
    margin-left :auto;
    margin-right :auto;
    width : 800px;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.btn-default{
    width: 100px;
    border-radius: 50px;
    background: aliceblue;
    border:1px solid #566787;
    color: #566787;
}
.btn-default:hover{
    background: #002c53;
    color: white;
}
.form-head{
    background-color :#bde0ff;
    padding-bottom: 50px;
    margin: 10px 10px 10px 10px;
}
.form-head h2 {
    margin: 8px 0 0;
    font-size: 30px;
}